.modslide_equipes {
    width: 100%;
    display: table;
    position: relative;
    z-index: 5;
}

.slide_equipes {
    width: 1170px;
    display: table;
    margin: 80px auto;
}

.slide_equipes p {
    font-family: 'quicksandregular';
    max-width: 660px;
    margin: auto;
    font-size: 22px;
    color: #676565;
    text-align: center;
}

.slide_equipes h2 {
    font-family: 'quicksandbold';
    color: #878787;
    margin: 0 0 8px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
}

.slide_equipe {
    width: 60%;
    background-size: 101% auto !important;
    background-position: center !important;
    border-radius: 50%;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    margin: 10px auto 0 auto;
    position: relative;
}

.slide_equipe > div.fotoColor {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: 101% auto !important;
    background-position: center !important;
    position: absolute;
}

.slide_equipe > div.fotoPb {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: 101% auto !important;
    background-position: center !important;
    position: absolute;
}

.slide_equipe:hover > div.fotoPb {
    display: none;
}

#modslide_equipes ul li > div h1 {
    font-family: 'quicksandregular';
    color: #676565;
    font-size: 24px;
    height: 50px;
    margin: auto;
    text-align: center;
    border: 0;
    vertical-align: middle;
    padding: 15px 10px;
    background: url("../../../../images/marc.png") no-repeat center bottom;
}

#modslide_equipes ul li .desc {
    width: calc(100% - 40px);
    padding: 60px 20px 40px 20px;
    margin: auto;
    background-color: rgba(57, 109, 0, 0.8);
}

#modslide_equipes ul li .desc p {
    font-family: 'quicksandregular';
    font-size: 18px;
    text-align: center;
    color: #FFF;
}

#modslide_equipes ul li > div:hover .slide_equipe p {
    display: block;
}

#modslide_equipes .slider-wrap {
    position: relative;
    margin: 50px auto 0px auto;
    width: 600px;
}

#modslide_equipes .slider {
    position: relative;
    width: 600px;
    margin: auto;
    padding: 10px 0;
}

#modslide_equipes ul {
    margin: 0;
    padding: 0;
}

#modslide_equipes ul li {
    list-style: none;
    text-align: center;
}

#modslide_equipes ul li > div {
    display: inline-table;
    width: calc(100% - 20px);
}

#modslide_equipes ul li > div:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#modslide_equipes .slider-arrow {
    position: absolute;
    top: 45%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0;
}

#modslide_equipes .slider-arrow:hover {
    opacity: 1;
}

#modslide_equipes .slider-arrow i {
    text-shadow: 0px 0px 15px #000000;
}

#modslide_equipes .sa-left {
    left: 10px !important;
}

#modslide_equipes .sa-right {
    right: 10px !important;
}

.inactive {
    left: 0 !important;
    width: 100% !important;
    display: block;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .slide_equipes {
        width: 96%;
        margin: auto;
    }
    #modslide_equipes .slider-wrap {
        width: 100%;
    }
    
}
@media screen and (max-width: 1000px) {
    #modslide_equipes .slider-arrow {
        opacity: 1 !important;
    }

    #modslide_equipes .slider-arrow:hover {
        opacity: 1;
    }

}
@media screen and (max-width: 660px) {
    .inactive {
        left: auto !important;
        width: auto !important;
        display: inherit;
        overflow: auto;
    }
}