@font-face{font-family:'montserratblack';src:url('../fonts/montserrat-black.woff2') format('woff2'),
url('../fonts/montserrat-black.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'montserratbold';src:url('../fonts/montserrat-bold.woff2') format('woff2'),
url('../fonts/montserrat-bold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'montserratextrabold';src:url('../fonts/montserrat-extrabold.woff2') format('woff2'),
url('../fonts/montserrat-extrabold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'montserratextralight';src:url('../fonts/montserrat-extralight.woff2') format('woff2'),
url('../fonts/montserrat-extralight.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'montserratlight';src:url('../fonts/montserrat-light.woff2') format('woff2'),
url('../fonts/montserrat-light.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'montserratmedium';src:url('../fonts/montserrat-medium.woff2') format('woff2'),
url('../fonts/montserrat-medium.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'montserratregular';src:url('../fonts/montserrat-regular.woff2') format('woff2'),
url('../fonts/montserrat-regular.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'montserratsemibold';src:url('../fonts/montserrat-semibold.woff2') format('woff2'),
url('../fonts/montserrat-semibold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'montserratthin';src:url('../fonts/montserrat-thin.woff2') format('woff2'),
url('../fonts/montserrat-thin.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'quicksandbold';src:url('../fonts/quicksand-bold.woff2') format('woff2'),
url('../fonts/quicksand-bold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'quicksandregular';src:url('../fonts/quicksand-regular.woff2') format('woff2'),
url('../fonts/quicksand-regular.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotoblack';src:url('../fonts/roboto-black.woff2') format('woff2'),
url('../fonts/roboto-black.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotoblack_italic';src:url('../fonts/roboto-blackitalic.woff2') format('woff2'),
url('../fonts/roboto-blackitalic.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotobold';src:url('../fonts/roboto-bold.woff2') format('woff2'),
url('../fonts/roboto-bold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotobold_condensed';src:url('../fonts/roboto-boldcondensed.woff2') format('woff2'),
url('../fonts/roboto-boldcondensed.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotobold_condensed_italic';src:url('../fonts/roboto-boldcondenseditalic.woff2') format('woff2'),
url('../fonts/roboto-boldcondenseditalic.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotobold_italic';src:url('../fonts/roboto-bolditalic.woff2') format('woff2'),
url('../fonts/roboto-bolditalic.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotocondensed';src:url('../fonts/roboto-condensed.woff2') format('woff2'),
url('../fonts/roboto-condensed.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'roboto_condensedbold';src:url('../fonts/robotocondensed-bold.woff2') format('woff2'),
url('../fonts/robotocondensed-bold.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'roboto_condensedbold_italic';src:url('../fonts/robotocondensed-bolditalic.woff2') format('woff2'),
url('../fonts/robotocondensed-bolditalic.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'roboto_condenseditalic';src:url('../fonts/robotocondensed-italic.woff2') format('woff2'),
url('../fonts/robotocondensed-italic.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'roboto_condensedlight';src:url('../fonts/robotocondensed-light.woff2') format('woff2'),
url('../fonts/robotocondensed-light.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotoitalic';src:url('../fonts/roboto-italic.woff2') format('woff2'),
url('../fonts/roboto-italic.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotolight';src:url('../fonts/roboto-light.woff2') format('woff2'),
url('../fonts/roboto-light.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotolight_italic';src:url('../fonts/roboto-lightitalic.woff2') format('woff2'),
url('../fonts/roboto-lightitalic.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotomedium';src:url('../fonts/roboto-medium.woff2') format('woff2'),
url('../fonts/roboto-medium.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotomedium_italic';src:url('../fonts/roboto-mediumitalic.woff2') format('woff2'),
url('../fonts/roboto-mediumitalic.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotoregular';src:url('../fonts/roboto-regular.woff2') format('woff2'),
url('../fonts/roboto-regular.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotothin';src:url('../fonts/roboto-thin.woff2') format('woff2'),
url('../fonts/roboto-thin.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'robotothin_italic';src:url('../fonts/roboto-thinitalic.woff2') format('woff2'),
url('../fonts/roboto-thinitalic.woff') format('woff');font-weight:normal;font-style:normal;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav{display:block;}
section{width:100%;position:relative;}
body{line-height:1;}
ol, ul{list-style-type:circle;padding-left:50px;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
*{margin:0;}
html{overflow-y:scroll !important;width:100% !important;}
html, body{height:100%;margin:0 !important;}
body{text-align:left;font-family:'quicksandbold', Verdana, Arial;font-size:18px;line-height:1.4em;color:#444;background:url("../../../images/back.jpg") repeat;}
a{color:#fff;text-decoration:none;}
a:hover{color:#fff;}
img{border-style:none;}
em, i{font-style:italic;}
strong, b{font-weight:bold;}
p{line-height:1.4em;margin:8px 0;}
h1{font-family:'quicksandbold', Verdana, Arial;color:#444;font-size:30px;line-height:1.2;margin-bottom:20px;}
h1 a{color:#90c140;text-decoration:none;}
h1 a:hover{color:#000000;text-decoration:none;}
h2{font-family:'quicksandbold', Verdana, Arial;color:#444;font-size:24px;line-height:1.2;margin-bottom:20px;}
h2 a{color:#000000;text-decoration:none;}
h2 a:hover{color:#90c140;text-decoration:none;}
h3{font-family:'quicksandbold', Verdana, Arial;color:#444;font-size:24px;line-height:1.2;margin-bottom:20px;}
h3 a{color:#000000;text-decoration:none;}
h3 a:hover{color:#90c140;text-decoration:none;}
.moduletable h3{font-family:'Droid Sans', sans-serif;font-weight:400;color:#fff;text-transform:uppercase;font-size:25px;line-height:1.15em;margin-bottom:6px;}
h4{font-family:'quicksandbold';color:#444;font-size:18px;margin-bottom:10px;}
h5{font-family:'quicksandbold';font-weight:300;color:#000000;font-size:14px;}
h6{font-family:'quicksandbold';font-size:13px;}
hr{border:0;color:rgb(226, 226, 226);background-color:rgb(226, 226, 226);height:1px;margin-top:5px;margin-bottom:5px;}
.tip{font-size:0.9em;text-align:left;line-height:1.2em;padding:3px;max-width:400px}
.tip-title{font-weight:bold;}
#system-message{padding:0;margin:0;}
#wrapper{display:block;padding:0;min-height:100%;height:auto !important;height:100%;}
#login-form input.button,
#member-profile button.validate,
#member-registration button.validate,
#user-registration button.validate,
.logout button,
.login button,
#searchForm button,
#contact-form button.validate,
#mailto-window button,
.btn{font-family:'quicksandbold', sans-serif;width:auto;padding:10px 30px;background-color:#315602;color:#FFF;cursor:pointer;text-transform:uppercase;border:0;font-size:20px;line-height:1.4;}
#login-form input.button:hover,
#member-profile button.validate:hover,
#member-registration button.validate:hover,
#user-registration button.validate:hover,
.logout button:hover,
.login button:hover,
#searchForm button:hover,
#contact-form button.validate:hover,
#mailto-window button:hover,
.btn:hover{color:#fff;text-decoration:none;background:#284701;transition:linear 100ms;}
.readmore a{font-weight:700;}
#search_wrap{display:block;}
#search{float:right;}
.custom-phone p{text-align:right;margin:0;}
.custom-phone p a{display:table;padding:5px 15px;border:2px solid #fa750a;color:#000;text-decoration:none;font-family:'quicksandbold';font-weight:600;font-size:22px;letter-spacing:-1px;}
#header_wrap{width:100%;display:table;position:absolute;z-index:9999;}
#header{width:100%;display:table;background-color:rgba(234, 234, 234, 0.8);-webkit-box-shadow:0px 5px 20px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow:0px 5px 20px 0px rgba(0, 0, 0, 0.3);box-shadow:0px 5px 20px 0px rgba(0, 0, 0, 0.3);}
#headerint{width:1170px;margin:auto;display:table;}
.fixa{z-index:9999;position:fixed !important;left:0;top:0;}
#logo{float:left;padding:15px 15px;position:relative;z-index:9999;}
#logo a{text-decoration:none;display:table;line-height:0;}
#logo a:hover{text-decoration:none;}
#logo a img{max-height:120px;height:60px;}
#topnav_wrap{width:100%;display:table;background:url(../../../images/banners/backbanner.jpg) repeat;}
#topnav{}
.moduletable-banner-principal{width:100%;display:table;position:relative;background:url("../../../images/banners/backbanner.jpg") repeat;height:100vh;}
.custom-banner-principal .mascote{position:absolute;right:0;bottom:0;max-height:1230px;display:table;}
.custom-banner-principal .mascote img{height:98vh;float:right;}
.custom-banner-principal .grafion{display:table;margin:auto;width:1170px;height:100vh;position:relative;}
.custom-banner-principal .grafion > div{margin-left:40px;display:table;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);max-width:500px;}
.custom-banner-principal .grafion > div img{max-width:100%;}
.custom-banner-principal .grafion > div h1{font-size:40px;text-transform:uppercase;color:#84bd36;text-align:center;font-family:'montserratregular';margin-bottom:50px;}
.custom-banner-principal .grafion > div h2{font-size:18px;color:#84bd36;text-align:center;font-family:'montserratregular';margin:50px 0 40px 0;}
.custom-banner-principal .grafion > div p{margin:0;text-align:center;}
.custom-banner-principal .grafion > div p a{display:inline-table;background:url("../../../images/backicons.jpg") no-repeat;border:3px solid #404041;border-radius:30px;margin:0 15px;}
.custom-banner-principal .grafion > div p a:hover{background:url("../../../images/backicons_hover.jpg") no-repeat;}
.custom-banner-principal .grafion > div p a.facebook{padding:8px 14px 8px 13px;}
.custom-banner-principal .grafion > div p a.instagram{padding:8px 10px;}
.custom-banner-principal .grafion > div p a.linkedin{padding:8px 10px;}
.custom-banner-principal .grafion > div p a.google-plus{padding:8px 5px;}
.headerMenu{display:table;float:right;}
.menutop{float:right;}
#topmenu_wrap{float:right;}
#topmenu{}
#topmenu ul{padding:0;margin:0;list-style:none;}
#topmenu li .separator,
#topmenu a{font-family:'quicksandbold';font-size:20px;display:block;color:#878787;text-decoration:none;cursor:pointer;padding:10px 0;}
#topmenu li .separator:hover,
#topmenu a:hover{color:#878787;}
#topmenu li.active a,
#topmenu li.active a:hover,
#topmenu li.active .separator,
#topmenu li.active .separator:hover{color:#878787;text-decoration:none;font-family:'quicksandbold';}
#topmenu li{float:left;line-height:1;border-top:6px solid transparent;padding-top:18px;margin:0 20px;transition:all 300ms linear;}
#topmenu li:hover,
#topmenu li.active{border-top:6px solid #85ac1c;}
#topmenu li:last-child{}
#topmenu li ul{position:absolute;font-size:12px;width:200px;border:0;z-index:100;padding-top:18px;display:none;}
#topmenu ul li.parent:hover ul{display:block;}
#topmenu li ul.nav-child li{width:100%;padding:0;background-color:#EDEDED;border:0;}
#topmenu li ul.nav-child a{width:90%;padding:12px 0;margin:0 5%;text-align:center;border-bottom:solid 1px #b4abaa;}
#topmenu li ul.nav-child a:hover{border-bottom:solid 1px #b4abaa;}
#topmenu li ul a{width:200px;}
#topmenu li.active ul.nav-child li{background-color:#EDEDED;}
#topmenu li ul.nav-child li:last-child a,
#topmenu li ul.nav-child li:last-child a:hover,
#topmenu li.active ul.nav-child li:last-child a,
#topmenu li.active ul.nav-child li:last-child a:hover{border:0;}
#topmenu li ul.nav-child li:first-child{-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;}
#topmenu li ul.nav-child li:last-child{-webkit-border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;}
#topmenu li.active ul.nav-child li a{color:#000;border-bottom:solid 1px #b4abaa;}
#topmenu li.active ul.nav-child li a:hover{color:#a79e9d;border-bottom:solid 1px #b4abaa;}
#topmenu li.active ul.nav-child li.active a{color:#a79e9d;}
#topmenu li ul ul{margin:-39px 0 0 220px;}
#topmenu li:hover ul ul,
#topmenu li:hover ul ul ul,
#topmenu li.sfhover ul ul,
#topmenu li.sfhover ul ul ul{left:-999em;}
#topmenu li:hover ul, #topmenu li li:hover ul, #topmenu li li li:hover ul, #topmenu li.sfhover ul, #topmenu li li.sfhover ul, #topmenu li li li.sfhover ul{left:auto;}
#content-menu_wrap_bg{min-height:400px;width:100%;display:table;}
#content-menu_wrap{width:1170px;margin:auto;}
#content-menu_wrap_bg .galeria{width:1170px;margin:0px auto 50px auto;display:table;}
#content-menu_wrap_bg .galeria > div{width:46%;margin:0 2%;float:left;}
#content-menu_wrap_bg .galeria h2{color:#b50101;font-size:22px;font-family:'oxygen-bold';margin:20px 0 10px 0;}
#breadcrumbs{width:100%;display:table;}
.custom-servicos-home{width:1170px;margin:auto;display:table;margin-top:-130px;position:relative;}
.custom-servicos-home > div{width:33.33%;float:left;}
.custom-servicos-home > div.serv:first-child{margin-right:-20px;}
.custom-servicos-home > div.serv:last-child{margin-left:-20px;}
.custom-servicos-home > div.serv > div{margin-top:90px;background-color:#eeeeee;padding:10px 30px;}
.custom-servicos-home > div.serv > div h1{margin-bottom:10px;text-align:center;}
.custom-servicos-home > div.serv > div h1 a{color:#000;text-transform:uppercase;font-weight:300;}
.custom-servicos-home > div.serv > div p{text-align:center;font-size:16px;}
.custom-servicos-home > div.serv > div p a{color:#000;text-decoration:none;font-weight:400;}
.custom-servicos-home > div.info{padding:90px 20px 70px 20px;background:url("../../../images/backinfo.png") no-repeat center;background-size:100% 100% !important;position:relative;}
.custom-servicos-home > div.info h2{text-align:center;margin:0 40px;}
.custom-servicos-home > div.info h2 a{color:#000;text-decoration:none;font-weight:200;color:#FFF;font-size:40px;}
#leftmenu{width:270px;padding:0px;margin-top:70px;margin-bottom:70px;margin-right:30px;float:left;}
#rightmenu{width:270px;padding:0px;margin-top:70px;margin-bottom:70px;margin-left:30px;float:right;}
#leftmenu a,
#rightmenu a{text-decoration:none;}
#leftmenu a:hover,
#rightmenu a:hover{text-decoration:none;}
#leftmenu ul,
#rightmenu ul{padding-left:0px;list-style-type:none;margin:0px;}
#leftmenu ul li,
#rightmenu ul li{border-bottom:1px solid #f0f0f0;padding-bottom:8px;list-style:none;}
#leftmenu ul li ul,
#rightmenu ul li ul{margin-top:0px;margin-bottom:0px;}
#leftmenu ul li ul li,
#rightmenu ul li ul li{border:0px;padding-bottom:2px;list-style-type:none;font-size:0.96em;line-height:1.5em;}
#leftmenu ul.menu li.current a,
#rightmenu ul.menu li.current a{font-weight:bold;}
#leftmenu ul.menu li.current ul li a,
#rightmenu ul.menu li.current ul li a{font-weight:normal;}
.menu-produtos li{padding:10px;}
.menu-produtos li.active,
.menu-produtos li.active a,
.menu-produtos li:hover,
.menu-produtos li:hover a,
.menu-produtos li a:hover{text-decoration:none;background-color:#970101;color:#FFF;}
.menu-produtos li a{text-decoration:none;color:#b50101;}
#content-w1{width:456px;float:left;padding-top:20px;overflow:hidden;margin-bottom:30px;}
#content-w2{width:870px;float:left;padding-top:70px;overflow:hidden;margin-bottom:70px;}
#content-w3{width:1170px;float:left;padding-top:70px;overflow:hidden;margin-bottom:70px;}
.home-w3{padding:0 !important;margin:0 !important;}
#content-w1 h3,
#content-w2 h3,
#content-w3 h3{margin-top:20px;}
#content-top{}
#content-middle{display:table;width:100%;}
#content-middle .moduletable-estudio{display:table;width:100%;padding-bottom:105px;background:url("../../../images/bottom-section.png") no-repeat bottom;}
#content-middle .moduletable-estudio .custom-estudio{padding-top:115px;background:url("../../../images/top-section.png") no-repeat top;}
#content-middle .moduletable-estudio .custom-estudio h2{font-family:'quicksandbold';color:#878787;margin:0 0 8px 0;text-align:center;text-transform:uppercase;font-size:26px;margin-top:-80px;}
.linha{width:70px;height:6px;background-color:rgba(115, 149, 24, 0.8);margin:0 auto 35px auto;}
#content-middle .moduletable-estudio .custom-estudio .content-estudio{background-color:rgba(57, 109, 0, 0.8);width:100%;display:flex;}
#content-middle .moduletable-estudio .custom-estudio .content-estudio .texto-estudio{width:1170px;display:table;margin:60px auto 0 auto;}
#content-middle .moduletable-estudio .custom-estudio .content-estudio .texto-estudio p{color:#FFF;font-size:22px;text-align:center;font-family:'quicksandregular';}
#content-middle .moduletable-estudio .custom-estudio .content-estudio .texto-estudio .servicos{display:table;margin:40px auto 0 auto;}
#content-middle .moduletable-estudio .custom-estudio .content-estudio .texto-estudio .servicos > div{display:inline-table;padding:60px 0 60px 60px;text-align:center;}
#content-middle .moduletable-estudio .custom-estudio .content-estudio .texto-estudio .servicos > div:first-child{display:inline-table;padding:60px 60px 60px 0;text-align:center;border-right:solid 1px rgba(255, 255, 255, 0.24);}
#content-middle .moduletable-estudio .custom-estudio .content-estudio .texto-estudio .servicos > div h3{font-family:'robotobold_condensed';font-size:24px;color:#a6c25b;text-transform:uppercase;margin-bottom:30px;}
#content-middle .moduletable-estudio .custom-estudio .content-estudio .texto-estudio .servicos > div ul{padding:0;list-style:none;}
#content-middle .moduletable-estudio .custom-estudio .content-estudio .texto-estudio .servicos > div ul li a{font-family:'robotocondensed';font-size:22px;text-decoration:none;padding:10px 0;display:table;margin:auto;}
#content-bottom{display:table;width:100%;background-color:#59656f;}
.menu-menu-aluguel,
.menu-menu-produtos{width:1170px;margin:0 auto;padding:0;list-style:none;}
.menu-menu-aluguel li,
.menu-menu-produtos li{width:23%;padding:10px 1%;float:left;text-align:center;display:table;}
.menu-menu-aluguel li:hover,
.menu-menu-produtos li:hover{background-color:#14836b;}
.menu-menu-aluguel li.active,
.menu-menu-aluguel li.active:hover,
.menu-menu-produtos li.active,
.menu-menu-produtos li.active:hover{background-color:#108f74;}
.menu-menu-aluguel li a{height:60px;display:table-cell;vertical-align:middle;font-family:'quicksandbold';font-size:18px;color:#FFF;text-decoration:none;}
.menu-menu-produtos li a{display:table-cell;vertical-align:middle;font-family:'quicksandbold';font-size:18px;color:#FFF;text-decoration:none;}
ul.actions{margin:0;padding:0;margin-top:-6px;margin-bottom:-2px;list-style-type:none;text-align:right;}
li.print-icon,
li.email-icon,
li.edit-icon{display:inline;margin-right:2px;}
li.print-icon a,
li.email-icon a,
li.edit-icon a{text-decoration:none;}
dl.article-info{clear:both;margin-left:0;padding:0px;font-size:0.86em;line-height:1.3em;margin-bottom:6px;}
.article-info dd, .article-info dd{margin-left:0;}
.article-info-term{display:none}
.categories-list ul{list-style-type:none;padding-left:0;padding-left:5px;margin-top:8px;}
.categories-list ul li{list-style-type:none;padding-left:5px;}
.categories-list dl dt, .categories-list dl dd{display:inline;}
.image-left{float:left;margin-top:0pt;margin-right:10px;margin-bottom:4px;margin-left:0pt;}
.category-desc p img{float:left;margin-top:0pt;margin-right:10px;margin-bottom:2px;margin-left:0pt;}
.first ul{padding-left:15px;padding:5px;}
.first ul li{padding-bottom:8px;padding:5px;}
.last ul{padding-left:15px;}
.last ul li{padding-top:10px;}
.cat-children ul{list-style-type:none;margin-top:10px;padding-left:0px;}
ul#archive-items{list-style-type:none;margin-top:10px;padding-left:0px;}
.intro ul{margin-top:10px;margin-bottom:20px;}
fieldset.filters{border:solid 0px #ddd;margin-top:5px;margin-left:0px;padding-left:0px;margin-right:0px;padding-right:2px;}
legend.hidelabeltxt{display:none;}
.items-leading{margin-bottom:20px;}
.newsfeed ol li{margin-top:10px;}
.newsfeed ol li img{margin-top:-10px;}
#article-index{width:25%;float:right;border:solid 1px #eee;padding:10px;margin-bottom:10px;margin-left:10px;background:#f9faf9}
#article-index h3{font-size:1em;}
#article-index ul{list-style-type:disc;padding-left:1.4em;color:#666;}
.pagenavcounter{font-weight:bold;padding-top:10px;padding-bottom:10px;}
.btn-mini.pull-right{float:right;border:1px solid #bbbbbb;background-color:inherit;padding-left:4px;padding-right:3px;line-height:6px;margin:0;color:#000000;font-family:Helvetica, Arial, sans-serif;font-size:0.7em;}
.icon-plus:before{content:"+";}
table{border-collapse:collapse}
tr, td{border:solid 1px #ddd;vertical-align:top;}
table.weblinks,
table.category{margin:10px 10px 20px 0px;width:100%;}
table.weblinks td,
table.category td{border-collapse:collapse;padding:7px;}
table.weblinks th,
table.category th{padding:7px;text-align:left}
td.num{vertical-align:top;text-align:left;}
td.hits{vertical-align:top;text-align:center}
td p{margin:0;line-height:1.3em}
.display-limit,
.filter{text-align:right;}
tr.cat-list-row1,
.category tr.odd{background-color:rgb(242, 242, 242);}
.category tr.even{}
table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th{background:#000000;}
table.weblinks th a,
table.newsfeeds th a,
table.category th a,
table.jlist-table th a,
table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th{color:#fff}
table.category th a img{border:solid 0px;display:none;}
table.category th a:hover{color:#90c140;}
table.moduletable td,
table.moduletable tr{border:0;}
.pagenav{padding:2px}
ul.pagenav{list-style-type:none;margin:0;margin-top:20px;padding:4px;overflow:hidden;}
li.pagenav-prev a,
li.pagenav-next a,
li.previous a,
li.next a{font-family:'Droid Sans', sans-serif;font-weight:400;font-size:13.5px;color:#fff;background-color:#90c140;border:0px;padding:4px;padding-left:12px;padding-right:12px;margin-left:0px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-decoration:none;}
li.pagenav-prev a:hover,
li.pagenav-next a:hover,
li.previous a:hover,
li.next a:hover{color:#fff;text-decoration:none;background-color:#000000;}
li.pagenav-prev,
li.previous{float:left;}
li.pagenav-next,
li.next{float:right}
.pagination ul li{display:inline;text-align:left;overflow:auto;}
.pagination ul{display:table;margin:auto;}
.pagination ul li span{padding-left:0px;padding-right:6px;margin-left:0px;margin-right:6px;color:#5a6162;font-family:'quicksandbold';}
.pagination ul li a{padding-left:0px;padding-right:6px;margin-left:0px;margin-right:6px;color:#afb1b2;font-family:'quicksandbold';text-decoration:none;}
#adminForm div.pagination ul{margin-left:0px;}
#adminForm div.pagination ul li span,
#adminForm div.pagination ul li a{padding-left:0px;padding-right:16px;margin-left:0px;margin-right:20px;}
.pagination li.pagination-start,
.pagination li.pagination-next,
.pagination li.pagination-end,
.pagination li.pagination-prev{border:0}
p.counter{font-weight:bold;}
.cols-1{display:block;float:none !important;margin:0 !important;}
.cols-2 .column-1{width:48%;float:left;}
.cols-2 .column-2{width:48%;float:right;margin:0}
.cols-3 .column-1{float:left;width:29%;padding:0px 5px;margin-right:4%}
.cols-3 .column-2{float:left;width:29%;margin-left:0;padding:0px 5px}
.cols-3 .column-3{float:right;width:29%;padding:0px 5px}
.items-row{overflow:hidden;margin-bottom:10px !important;}
.column-2{width:55%;margin-left:40%;}
.column-3{width:30%}
.blog-more{padding:10px 5px}
#login-form fieldset.userdata{margin-bottom:5px;margin-top:-15px;margin-left:0px;border:0px;font-size:0.96em;float:left;}
.area_cliente_login{cursor:pointer;}
.form-login{position:absolute;z-index:99;padding:10px;background-color:#076e58;margin-left:-130px;width:250px;}
.form-login label{color:#FFF;font-family:'quicksandbold';font-size:20px;}
.area_cliente_logout{cursor:pointer;}
.form-logout{width:250px;position:absolute;z-index:99;padding:10px;background-color:#076e58;margin-left:-130px;}
.login-greeting{color:#FFF;font-family:'quicksandbold';font-size:20px;}
ul.unstyled{display:table;margin:0;padding:10px 0 0 0;list-style:none;width:100%;}
ul.unstyled li{float:left;width:96%;padding:0 2%;line-height:1;text-align:center;}
ul.unstyled li a{color:#FFF;font-family:'quicksandbold';font-size:10px;text-decoration:none;}
#login-form input.inputbox,
#modlgn-username,
#modlgn-passwd{width:96%;margin-left:0px;padding:5px 2%;border:0;outline:none;}
#login-form label{display:block;margin-left:0px;}
#form-login-remember label{float:none;width:auto;display:inline;font-size:14px;}
#form-login-remember input.inputbox{width:auto;border:0;}
.login,
.dados-login{border:0;width:46%;padding:0 2%;float:left;}
.login label{float:left;margin-right:10px;font-size:14px;}
.login #username-lbl,
.login #password-lbl{font-size:20px;}
.login button[type="submit"].btn{margin:auto;display:table;padding:10px 50px;}
.login-fields{margin:10px 0}
.login-fields label{float:left;width:9em}
.login-description,
.logout-description{overflow:hidden;padding-left:5px;margin:20px 0 10px 0}
.logout-description{margin-bottom:20px}
.dados-login ul{list-style:none;padding:0;}
.dados-login ul li a{text-decoration:none;color:#666;}
.dados-login ul li a:hover{font-family:'oxygen-bold';}
.validate-username,
.validate-password,
.validate-email,
#jform_name{width:96%;margin:0 0 10px 0;padding:5px 2%;border:0;background-color:#e7f8f1 !important;font-family:'quicksandbold';font-size:16px;}
.icon-user{display:none;}
.userdata label,
#form-login-remember{margin-top:10px;float:left;}
#form-login-submit{margin-top:10px;float:right}
.icon-lock.tip{display:none;}
fieldset div div input{margin-bottom:5px;}
#users-profile-core,
#users-profile-custom{margin:10px 0 15px 0;padding:15px;}
#users-profile-core dt,
#users-profile-custom dt{float:left;width:12em;padding:3px 0;}
#users-profile-core dd,
#users-profile-custom dd{padding:3px 0;}
#users-profile-core legend,
#users-profile-custom legend,
.profile-edit legend,
.registration legend{font-family:'quicksandbold';margin-bottom:20px;font-size:24px;}
#jform_spacer-lbl{display:none;}
.registration .control-group{width:46%;padding:0 2%;display:table;float:left;}
.registration .control-group input{width:96%;margin:0 0 10px 0;padding:5px 2%;border:0;background-color:#e7f8f1 !important;font-family:'quicksandbold';font-size:16px;}
.registration .control-group select{width:100%;margin:0 0 8px 0;padding:5px 2%;border:0;background-color:#e7f8f1 !important;font-family:'quicksandbold';font-size:16px;}
.submit-group{padding-top:30px !important;width:96% !important;}
.submit-group .controls{display:table;margin:auto;}
.registration .control-group .submit,
.cancelar{margin:0 10px;padding:10px 20px !important;text-decoration:none;color:#FFF;display:inline-table;float:left;font-family:'quicksandbold';font-size:14px;line-height:1;}
.registration fieldset{display:table;}
.profile-edit form#member-profile fieldset dd,
.registration form#member-registration fieldset dd{float:none;padding:5px 0;}
.profile-edit form#member-profile fieldset dd input,
.profile-edit form#member-profile fieldset dd select,
.registration form#member-registration fieldset dd input{width:17em;}
.profile-edit form#member-profile fieldset dt,
.registration form#member-registration fieldset dt{clear:left;float:left;padding:5px 5px 5px 0;width:16em;}
#users-profile-core,
#users-profile-custom{border:solid 1px #ccc;}
#user-registration.form-validate fieldset{border:solid 0px;padding-left:0;}
.btn-toolbar li{display:inline;margin-left:-30px;}
h3.pane-toggler{font-size:1.1em;border-top:1px solid rgb(226, 226, 226);margin-bottom:2px;padding-bottom:8px;padding-top:8px;}
h3.pane-toggler-down{font-size:1.1em;border-top:1px solid rgb(226, 226, 226);margin-bottom:2px;padding-bottom:8px;padding-top:8px;}
address span{display:block;font-style:normal;}
.contact-address img{margin-bottom:10px;}
.panel .contact-form,
.panel .contact-miscinfo{padding:10px}
.accordion-heading{padding-top:10px;padding-bottom:10px;font-size:1.3em;text-decoration:none;}
.accordion-heading a{text-decoration:none;color:#333333;cursor:default;}
div#basic-details div div img{padding-bottom:10px;}
div#basic-details div dl dt span img,
div#display-misc div div dl dt span img{display:none;}
form#adminForm ul li{background-color:inherit;height:20px;margin:0;padding:0;margin-left:-28px;border:0;list-style-type:none;}
.searchintro{font-weight:normal;margin:20px 0 20px;}
.searchintro img{border:0px}
.word{border:solid 0px #ccc;}
fieldset.word label{font-weight:bold;color:#333;}
.form-limit{margin:20px 0 0;text-align:right;padding:0 10px 0 20px;}
.highlight{font-weight:bold;}
.ordering-box{width:40%;float:right;}
.phrases-box{width:60%;float:left}
.only,
.phrases{border:solid 1px #ccc;margin:10px 0 0 0px;padding:15px;line-height:1.3em;}
label.ordering{display:block;margin:10px 0 10px 0}
.word{padding:10px 10px 10px 0;}
.word input,
#search-searchword{font-weight:bold;margin:0px 10px 0px 10px;padding:4px;font-size:1em}
.word label{font-weight:bold}
fieldset.only label,
fieldset.phrases label{margin:0 10px 0 0px}
.ordering-box label.ordering{margin:0 10px 5px 0;float:left}
form .search label{display:none}
.search legend{font-weight:bold}
div.search form#searchForm div.btn-toolbar div.btn-group.pull-left button{display:none;}
dl.search-results dt.result-title{border-top:solid 1px #ddd;padding-top:10px;font-weight:bold;}
dl.search-results dd.result-created{padding-top:6px;padding-bottom:10px;color:rgb(170, 170, 170);}
dd.result-category{padding-top:6px;padding-bottom:6px;}
.stats-module dl{margin:10px 0 10px 0}
.stats-module dt{float:left;margin:0 10px 0 0;font-weight:bold;}
.stats-module dt,
.stats-module dd{padding:2px 0 2px 0}
a.feed-link{margin-top:15px;display:block;text-decoration:none}
.feed-link img{border:0}
#footer_wrap{width:100%;display:table;}
#bottom_wrap{width:100%;display:table;}
#copyright{clear:both;width:100%;display:table;background-color:rgba(0, 0, 0, 0.8);}
.copyrightint{width:1170px;margin:0 auto 10px auto;color:#FFF;font-family:'quicksandregular';font-size:14px;display:table;text-align:center;}
.copyrightint p{text-align:center;}
.copyrightint a.sd{text-decoration:none;display:table;line-height:1;font-size:14px;color:#85ac1c;margin:auto;}
.copyrightint a.sd:hover{color:#abd146;}
#box_wrap{width:100%;display:table;}
#box_placeholder{}
#box1{width:100%;margin:0;}
#box2{width:70%;margin:0;float:left;}
#box3{width:100%;margin:0;text-align:center;display:block;background-color:rgba(0, 0, 0, 0.8);}
.moduletable-rodape{padding:30px 0 20px 0;}
.custom-rodape > div p{margin:0;text-align:center;}
.custom-rodape > div p a{display:inline-table;border:3px solid #404041;border-radius:30px;margin:0 15px;background-color:rgba(255, 255, 255, 0.03);}
.custom-rodape > div p a:hover{background-color:rgba(0, 0, 0, 0.1);}
.custom-rodape > div p a.facebook{padding:8px 14px 8px 13px;}
.custom-rodape > div p a.instagram{padding:8px 10px;}
.custom-rodape > div p a.linkedin{padding:8px 10px;}
.custom-rodape > div p a.google-plus{padding:8px 5px;}
.custom-rodape address{color:#FFF;font-size:18px;line-height:1.2;margin:20px 0;}
.custom-rodape p a.telefone{font-size:26px;}
.custom-rodape p a.telefone small{font-size:18px;}
.custom-rodape p a.button{font-size:16px;text-transform:uppercase;padding:15px 30px;background-color:#85ac1c;line-height:1.4;display:table;margin:10px auto 0 auto;}
.custom-rodape p a.button:hover{background-color:#729710;}
#adminForm.form-validate fieldset{border:solid 1px #ddd;margin-top:20px;margin-bottom:20px;padding:8px;}
#adminForm legend{font-weight:bold;}
.edit.item-page{max-width:660px;}
#adminForm.form-validate fieldset div.formelm{padding-bottom:10px;display:block;}
#adminForm.form-validate fieldset div.formelm label,
#adminForm.form-validate fieldset div.formelm input{display:inline-block;}
#adminForm.form-validate fieldset div.formelm label{width:120px;}
#adminForm.form-validate fieldset div.formelm-area label,
#adminForm.form-validate fieldset div.formelm-area input{display:inline-block;}
#adminForm.form-validate fieldset div.formelm-area label{width:120px;vertical-align:top;}
#adminForm.form-validate fieldset div.formelm-buttons{margin-top:-32px;padding-bottom:10px;height:20px;float:right;}
#jform_articletext_tbl.mceLayout{clear:both;}
#editor-xtd-buttons div.button2-left div.readmore a{height:22px;line-height:22px;font-size:11px;cursor:pointer;padding-top:0pt;padding-right:24px;padding-bottom:0pt;padding-left:6px;color:#666666;text-decoration:underline;background-color:#f3f3f3;}
#editor-xtd-buttons div.button2-left div.readmore a:hover{color:#0b55c4;}
form#adminForm fieldset ul{display:none;}
input#jform_title{width:300px;margin-bottom:10px;}
form#adminForm.form-validate.form-vertical div.btn-toolbar div.btn-group{display:inline;}
form#adminForm fieldset div div#editor div#editor-xtd-buttons div a,
form#adminForm fieldset div div#editor div div a{text-decoration:none;display:inline;}
form#adminForm > fieldset > div > div#editor > div#editor-xtd-buttons{margin-left:-5px;}
.toggle-editor{float:right;margin-top:-25px;}
#jform_publish_down_img,
#jform_publish_up_img{width:19px;height:19px;margin-bottom:-5px;}
#jform_publish_down_img{width:18px;height:18px;margin-left:3px;background:url(../images/system/calendar.png) no-repeat;cursor:pointer;vertical-align:middle;}
#jform_publish_up_img{width:18px;height:18px;margin-left:3px;background:url(../images/system/calendar.png) no-repeat;cursor:pointer;vertical-align:middle;}
#mailto-window{padding:20px;width:340px;}
#mailto-window h2{padding-bottom:10px}
#mailto-window p{clear:left;padding-top:20px}
#mailto-window label{padding:0px;}
#mailto-window input{margin:4px;padding:6px;padding-right:24px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #e2e2e2;outline:none;}
#mailtoForm div.formelm label,
.formelm input{display:inline-block;}
#mailtoForm div.formelm label{width:80px;}
#mailtoForm div.formelm input{width:160px;}
#mailto-window div.mailto-close a{display:none;}
body.contentpane{background-color:#fff;}
#main div.item-page{margin:10px;}
#main div.item-page ul.actions li{}
body.contentpane,
body.contentpane h1,
body.contentpane h2,
body.contentpane h3,
body.contentpane h4,
body.contentpane h5,
body.contentpane h1 a,
body.contentpane h2 a,
body.contentpane h3 a,
body.contentpane h4 a,
body.contentpane h5 a{color:#000;}
body.contentpane a:hover{color:#000;}
.moduletable-banner-int{width:100%;display:table;background:url("../../../images/banners/banner-int.jpg") no-repeat;}
.custom-banner-int{width:1170px;margin:auto;}
.custom-banner-int h1{margin:160px 20px 30px 0;text-align:right;font-family:'quicksandbold';font-size:50px;color:#FFF;font-weight:200;}
.menu-servicos{margin:0;padding:0;list-style:none;}
.list-category.servicos{width:100%;display:table;margin:-70px 0;background:url('../../../images/back_servicos.png') no-repeat top center;position:relative;z-index:1;}
ul.category-module-servicos{margin:0 auto;padding:70px 0 104px 0;list-style:none;width:1170px;display:table;}
ul.category-module-servicos li{float:left;width:23%;margin:0 1%;}
ul.category-module-servicos li a,
ul.category-module-servicos li a:hover{display:table;text-align:center;margin:auto;text-decoration:none;}
ul.category-module-servicos li a img{width:100%;}
ul.category-module-servicos li a p{font-family:'quicksandbold';font-size:30px;color:#87c24e;line-height:1.1;margin:0;}
.custom-empresa{width:1170px;display:table;}
.custom-empresa p{margin:0 0 20px 0;font-weight:300;}
.custom-empresa p a{text-decoration:none;color:#444;}
.home-article{min-height:0 !important;padding:0 !important;margin:0 !important;}
.menu-menu-map{margin:0 auto;padding:0;list-style:none;max-width:200px;}
.menu-menu-map li a{font-family:'quicksandbold';font-size:18px;color:#FFF;text-decoration:none;padding-bottom:10px;display:table;margin:auto;}
#box1 .moduletable-contato{padding-top:115px;background:url("../../../images/top-section.png") no-repeat top;}
.moduletable-contato h3{font-family:'quicksandbold';color:#878787;margin:0 0 8px 0;text-align:center;text-transform:uppercase;font-size:26px;margin-top:-80px;}
.custom-contato h2{font-family:'quicksandbold';font-size:22px;margin:0 0 10px 0;color:#000;font-weight:600;letter-spacing:-1px;}
.custom-contato h3{font-family:'quicksandbold';font-size:20px;margin:0 0 10px 0;color:#000;}
.custom-contato p{font-family:'quicksandbold';font-size:16px;margin:0 0 8px 0;color:#000;}
.titulo-contato h2{line-height:1.2;color:#5a6162;font-family:'quicksandbold';font-size:20px;margin:0 0 30px 0;text-align:center;}
.contact-form fieldset{width:46%;float:left;padding:10px 2%;}
.contact-form input{width:96%;padding:8px 2%;margin-bottom:14px;border:0;background-color:#fafafa !important;color:#5a6162;font-family:'quicksandbold';font-size:16px;}
.contact-form textarea{width:96%;padding:8px 2%;margin-bottom:14px;border:0;background-color:#fafafa;color:#444;font-family:'quicksandbold';font-size:16px;height:178px;}
.contact-form .form-actions button{float:right;text-align:center;font-family:'quicksandbold' !important;font-size:14px !important;padding:8px 38px !important;background-color:#b5b5b5 !important;color:#59656f !important;cursor:pointer;border:0;border-radius:10px;display:table;}
.contact-form .form-actions button:hover{background-color:#838282 !important;color:#FFFFFF !important;}
.moduletable_menu ul{padding:10px 0;list-style:none;margin:auto;display:table;}
.moduletable_menu ul li{display:inline;}
.moduletable_menu ul li a{padding:0 10px;color:#000;text-decoration:none;font-weight:600;font-size:20px;}
.item-page-empresa p{text-align:center;}
.item-page-empresa .mvv{width:80%;margin:auto;}
.item-page-empresa h3{font-family:'quicksandbold-oblique';text-transform:uppercase;color:#5a6162;font-size:24px;margin:60px auto 30px auto !important;text-align:center;border-bottom:solid 1px #a9b3b5;padding-bottom:10px;}
.blog-depoimentos article{padding:20px 40px 30px 40px;}
.blog-depoimentos article:nth-child(1),
.blog-depoimentos article:nth-child(3){background-color:#fafafa;}
.blog-depoimentos article h4{font-family:'quicksandbold';color:#000;font-size:20px;text-align:right;font-weight:600;}
.blog-depoimentos article h5{font-family:'quicksandbold';color:#000;font-size:14px;text-align:right;font-weight:600;font-style:italic;}
.moduletable-newsletter{display:table;float:right;max-width:320px;margin-right:30px;}
.moduletable-newsletter .acymailing_module_form .acymailing_introtext{font-family:'quicksandbold';color:#FFFFFF;font-size:16px;padding-bottom:15px;width:80%;margin:auto;}
.moduletable-newsletter table.acymailing_form{width:100%;}
.moduletable-newsletter table.acymailing_form td{padding-bottom:11px;}
.moduletable-newsletter table.acymailing_form td input{width:90% !important;padding:12px 5%;border:0 !important;background-color:#eeeeee;text-align:center;font-size:14px;border-radius:10px;}
.moduletable-newsletter table.acymailing_form td input::-webkit-input-placeholder{color:#b1b6ba;}
.moduletable-newsletter table.acymailing_form td input[type="submit"]{display:table;color:#59656f;font-family:'quicksandbold';padding:8px 38px;background-color:#b5b5b5;font-size:14px;border-radius:10px;width:auto !important;float:right;}
#content-w3 .item-page-organizacao h3,
#content-w3 .item-page-higienizacao h3{padding-bottom:5px;border-bottom:1px solid #dadada;margin-top:40px;}
.item-page-organizacao .serv,
.item-page-higienizacao .serv{width:100%;display:table;}
.item-page-organizacao .serv .servdiv,
.item-page-higienizacao .serv .servdiv{width:46%;padding:10px 2%;display:table;float:left;}
#animacao-contato{position:absolute;bottom:0;left:0;right:0;text-align:center;}
#animacao-contato img{display:table;margin:auto;}
#animacao-estudio{position:absolute;bottom:0;right:20%;}
#animacao-estudio img{display:table;margin:auto;}
.custom-banner-principal .grafion > div.arrow{position:absolute;z-index:999;bottom:10px;margin:0;top:auto;display:table;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);max-width:none;padding:0;}
.custom-banner-principal .grafion > div.arrow a{display:table;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.custom-banner-principal .grafion > div.arrow img{display:block;}
.custom-banner-principal .grafion > div.bounce{-webkit-animation:bounce 2s infinite;animation:bounce 2s infinite;}
@-webkit-keyframes bounce{0%, 20%, 50%, 80%, 100%{-webkit-transform:translateY(0);}
40%{-webkit-transform:translateY(-30px);}
60%{-webkit-transform:translateY(-15px);}
}
@-moz-keyframes bounce{0%, 20%, 50%, 80%, 100%{-moz-transform:translateY(0);}
40%{-moz-transform:translateY(-30px);}
60%{-moz-transform:translateY(-15px);}
}
@keyframes bounce{0%, 20%, 50%, 80%, 100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);}
40%{-webkit-transform:translateY(-30px);-moz-transform:translateY(-30px);-ms-transform:translateY(-30px);-o-transform:translateY(-30px);transform:translateY(-30px);}
60%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px);}
}
.gotomenu{display:table;width:100%;visibility:hidden;margin-top:30px;}
#gotomenu{float:right;cursor:pointer;}
#gotomenu i{font-size:30px;color:#878787;font-weight:normal;}
.menuresp{visibility:hidden;width:100%;position:absolute;left:0;}
.menuresp ul{list-style:none;padding:0;margin:0;background-color:rgba(234, 234, 234, 0.9);margin-top:28px;}
.menuresp ul li{width:100%;}
.menuresp li.active span,
.menuresp ul li.active ul li.active a,
.menuresp li.active a{border-bottom:6px solid #85ac1c;}
.menuresp ul li.active ul li a,
.menuresp a{text-align:center;display:table;padding:10px 5px;color:#FFF;font-family:'quicksandbold';font-size:20px;color:#878787;margin:auto;border-bottom:6px solid transparent;}
.menuresp li span{text-align:center;width:100%;display:table;padding:5px 0;color:#FFF;cursor:pointer;}
.menuresp a:hover,
.menuresp li span:hover{text-decoration:none;border-bottom:6px solid #85ac1c;}
.menuresp ul li ul{margin:0;background-color:transparent;display:none;}
.menuresp ul li ul li a{font-size:16px;}
@media screen and (max-width:1200px){.custom-banner-principal .grafion,
#content-w3{width:100%;}
#headerint,
#content-middle .moduletable-estudio .custom-estudio .content-estudio .texto-estudio,
#content-menu_wrap,
.copyrightint,
#contact .contact > div{width:96%;}
.custom-banner-principal .mascote{width:60%;display:block;overflow:hidden;}
.custom-banner-principal .mascote img{float:left;}
.custom-banner-principal .grafion > div{max-width:400px;}
}
@media screen and (max-width:1000px){.custom-banner-principal .mascote{display:none;}
.custom-banner-principal .grafion{width:80%;}
.custom-banner-principal .grafion > div{margin:auto;position:relative;display:table-cell;top:auto;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);vertical-align:middle;text-align:center;padding:40px 0 100px 0;}
}
@media screen and (max-width:768px){.copyrightint p{font-size:12px;}
}
@media screen and (max-width:600px){.custom-banner-principal .grafion > div p a{margin:0 5px;}
#content-middle .moduletable-estudio .custom-estudio .content-estudio .texto-estudio .servicos > div{display:table;margin:auto;padding:20px 0 0 0;}
#content-middle .moduletable-estudio .custom-estudio .content-estudio .texto-estudio .servicos > div:first-child{display:table;margin:auto;padding:0 0 20px 0;border-right:0;border-bottom:solid 1px rgba(255, 255, 255, 0.24);}
.copyrightint p{font-size:10px;}
}